:root {
  /* --body-bg: #fddcd2;

  --header-bg: #ff4a11;
  --header-text: #3f0097;

  --main-bg: ##fddcd2;
  --main-text: #ff4a11;
  --main-title-bg: #3f0097;

  --card-bg: #8336ff7b; 
  --card-text: #201e1d;*/

  /* start hsla */
  --body-bg: 14, 91%, 91%;

  --header-bg: 14 100% 53%;
  --header-text: 265 100% 30%;

  --main-bg: 14 91% 91%;
  --main-text:14 100% 53%;
  --main-title-bg: 265 100% 30%;

  --card-bg: 263 100% 61% 0.482;
  --card-text: 20 5% 12%;
}